.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}
.LineSelector {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.StationDetailContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* For smaller screens, place items columns */
@media (max-width: 800px) {
  .StationDetailContainer {
    flex-direction: column;
    align-items: center;
  }
}
.StationDetailChildContainer {
  max-width: 350px;
  padding: 10px;
}
